VITE_SUPABASE_URL=bvbohbzhfblviyyiweli
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ2Ym9oYnpoZmJsdml5eWl3ZWxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MDIwNDcsImV4cCI6MjA4OTM3ODA0N30.LDVYOGCxSOdTm-_7itIJE_cYVekBmhQqfTYMsqVJmCQ
